.logoutForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0.75rem 1.5rem;
    color: #a0a0a0;

    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    button{
        color: white;
        background-color: rgb(0,0,0,0);
        border: none;
        transition: all 0.3s ease;
    }
    button:hover{
    color: #ffffff;
    cursor: pointer;
    }
}
.logoutForm:hover{
        background: #504e4e;
        z-index: 1000;
}